* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #271539 !important;
  color: rgb(228, 233, 237) !important;
  font-family: "Centra", sans-serif;
}

nav.navbar {
  padding: 22px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  justify-content: flex-end;
}
nav.navbar.scrolled {
  padding: 30px;
  background-color: #271539;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: rgb(228, 233, 237) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

.social-icon {
  position: fixed;
  right: 0;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: last baseline;
}
.social-icon a {
  width: 42px;
  height: 42px;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a:hover {
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}

.email-link {
  font-weight: 600;
  color: #ede2e2;
  border: 3px solid rgba(255, 255, 255, 0.5);
  padding: 18px 34px;
  font-size: 22px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
}

.email-link:hover {
  background-color: rgba(154, 151, 151, 0.5);
  color: rgb(27, 22, 22) !important;
}

.banner {
  margin-top: 200px;
}

.banner .name {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    80deg,
    rgba(7, 142, 163, 0.5),
    rgba(75, 66, 105, 0.5) 
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 35px;
  margin-bottom: 16px;
  display: block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 500px;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #ede2e2;
  background-color: transparent;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  width: 80%;
  border-radius: 18%;
  margin-left: 30px;
}

.work {
  background-color: #3d2850;
  margin-top: 100px;
  margin-bottom: 100px;
}

.work h2 {
  font-size: 45px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
  display: block;
}
.work p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  display: block;
  width: 70%;
  text-align: justify;
}


.work-img img{
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  margin-bottom: 80px;
  margin-top: 80px;
  opacity: 0.55;
  width: 96%;
  transition: 0.4s ease-in-out;
}
.work-img img:hover {
  opacity: 1;
  
}


.project-p {
  color: #b8b8b8;
  font-size: 18px;
  margin-top: 110px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  display: block;
  text-align: justify;
}

.project-header {
  text-align: center;
}

.about h1 {
  font-size: 40px;
  font-weight: 500px;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
.about p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  display: block;
  text-align: justify;
}

.about-img {
  width: 90%;
  border-radius: 8%;
  margin-left: 10px

}

.footer {
  padding: 0 0 50px 0;
  margin-top: 30px;
}

.footer p {
  font-weight: 400;
  font-size: 10px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.footer-icons a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.footer-icons a:hover {
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

@media (max-width: 1080px) {
}
@media (max-width: 768px) {
.email-link {
  display: none;
}
.work-p{
  margin-top: 0;
  margin-bottom: 0;
}

}
